.body{
    display: flex;
    max-width:100%;
    min-height: 100vh;
    background-image: url('../../utilities/Images/background.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
